rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /auth_get/{id} {
      allow read: if request.auth.get('uid', null) != null;
    }
  }
}
