rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /casing/{id} {
      allow read: if ("appcheck" in request) || ("appCheck" in request) || ("AppCheck" in request);
    }
  }
}
