rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /prove_get/{id} {
      allow read: if request.get('appcheck', null) != null;
    }
  }
}
